.correct{
    background-color: rgb(0, 0, 0); 
}

.incorrect{
    background-color: rgb(100, 100, 100) 
}

.contain{
    margin:1%;
    background-color: rgb(248, 248, 248);
    border-color: rgb(231, 231, 231);
}

.content{
    width:100%
}

.result{
    width:100%
}

.table{
    width:95%;
    border:2px solid black;
    display:table;
    position:relative;
}

.row{
    display:table-row;
    text-align:center;
}

.titlerow{
    font-size:16px
}

.col{
    display:table-cell;
    border:1px solid black;
}
.col20{
    width:20%
}

.col30 {
    width:30%
}

.col50{
    width:50%
}
