<form action="http://127.0.0.1:5001/transaction" method="POST">
    Введіть гроші: <input type="text" name="amt" value= "{{ info.amt }}"/><br>      
    Введіть валюту: <input type="text" name="ccy" value="{{ info.ccy }}" /> <br>
    ID мерчанту:<input type="text" name="merchant" value="{{ info.merchant }}" /><br>  
    Номер картки: <input type="text" name="card_number"/><br>
    <input type="hidden" name="order" value="{{ info.order }}" />     
    <input type="hidden" name="details" value="{{ info.details }}" />
    <input type="hidden" name="ext_details" value="{{ info.ext_details }}" />  
    <input type="hidden" name="pay_way" value="{{ info.pay_way }}" />      
    <input type="hidden" name="return_url" value="{{ info.return_url }}" />  
    <input type="hidden" name="server_url" value="{{ info.server_url }}" />      
    <input type="submit" value="Оплатить" /> </form>    