{% extends "get_cars.html" %}
{% block content %}
{% if response == [] %}
        <p class=error><Strong>Дана парковка зараз вільна!</Strong></p>
{% else %}
    <h4> <b>{{lot_name}}</b>  запарковані наступні машини:</h4>
	<div class="table">
        <div class="row titlerow">
            <div class="col col20">Номер паркомісця</div><div class="col col30">Номер машини</div><div class="col col50">Може стояти до:</div>
        </div>
        {% for car in response %}
        <div class="row">

    	    <div class="col col20">{{car.place_id}}</div><div class="col col30">{{car.car_number}}</div><div class="col col50">{{car.expiration_time.strftime("%H:%M  %d-%m-%Y")}}</div>

        </div>
        {% endfor %}

    </div>
{% endif %}
{% endblock %}