{% extends "start.html" %}
{% block content %}
         <h1>Пошук парковки за ціною</h1>
        {% if error %}
        <p class=error><Strong>Error</Strong> {{ error }}
        {% endif %}


              <dl>
                 <dt>Від:</dt>
                    <dd><input type="text" name="l_price" id="l_price"  size="20" ></dd></dl>
                 <dt>До:</dt>
                    <dd><input type="text" name="h_price" id="h_price" size="20" ></dd>
                  <br>
                 <button  type="submit" onclick="SendInfo();" >Find!</button>

<div id='result'>
    {{ result }}
</div>

<!--<script type="text/javascript" src="https://jquery-json.googlecode.com/files/jquery.json-2.4.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    
    // Check if string is a whole number(digits only).
    var isWhole_re  = /^\s*\d+\s*$/;
    function isWhole (s) {
        return String(s).search (isWhole_re) != -1
    };
    
    
    function checkform ( form )
    {
  
  // ** START **
        if (isWhole(form.l_price.value) != true || isWhole(form.h_price.value) != true || form.l_price.value == '' || form.h_price.value == '') {
            alert( "Please enter valid data" );
            form.l_price.focus();
            return false ;
        }
  // ** END **
        return true ;
    };

    SendInfo = function() {
        if (checkform(this)){
        var formData = {
            "l_price":$("#l_price").val(),
            "h_price":$("#h_price").val(),
            };
        console.log(formData);
        $.ajax({
            url:'/find',
            type:'POST',
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function (response)
            {
                var myDiv = $('#result'); // The place where you want to insert the template
                myDiv.html(response);
            },

            error: function (request)
            {
            
            },

            });

    return false;
    };
    return true;
    };


</script>

{% endblock %}