{% extends "header_template.html" %}
{% block content %}
<h1>Find places</h1>
{% if error %}
        <p class=error><Strong>Error</Strong> {{ error }}
{% endif %}
<form method="post" action="">
        <p>Choose parking place</p>
        <p>
            <select id="place_id" multiple name="place">
                <option disabled value="0"></option>
                <option value="1">1</option>
                <option selected value="2">2</option>
                <option value="3">3</option>
            </select>
        </p>
            <button  type="submit" onclick="GetInfo();" >Pay for</button>
    </form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
GetInfo = function() {

        var formData = {
            "place":$("#place_id").val(),
            };

       $.ajax({
            url:'http://localhost:5000/find_places',
            type:'POST',
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function (request)
            {
            
            },

            error: function ()
            {
            
            },

            });

        return false;
    };

</script>
{% endblock %}
