{% extends "start.html" %}
{% block content %}
<h1>Get info about...</h1>
{% if error %}
        <p class=error><Strong>Error</Strong> {{ error }}
{% endif %}
<fieldset>Виберіть парковку:<select id="lot_name" name="lot_name" res=get_list_of_lots()>
        {% for res in res_list %} 
            <option value="{{res}}">{{res}}</option>
         {% endfor %}
        </select></fieldset><br/>
        
        <p><button  type="submit" onclick="GetInfo();" >Show info</button> </p>     
            

<div id='result'>
        {{ result }}
</div>

<script type="text/javascript" src="https://jquery-json.googlecode.com/files/jquery.json-2.4.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
GetInfo = function() {

        var formData = {
            "lot_name":$("#lot_name").val(),
            };

       $.ajax({
            url:'/can_stand',
            type:'POST',
            data: JSON.stringify(formData, null, '\t'),
            contentType: "application/json",
            success: function (response)
            {
                var myDiv = $('#result'); // The place where you want to inser the template
                myDiv.html(response);
            },
            error: function ()
            {
            },

        });

        return false;
    };


</script>
{% endblock %}
