{% extends "start.html" %}
{% block content %}
<h2>{{_('Check filling parking') }}</h2>
{% if error %}
        <p class=error><Strong>{{_('Error') }}</Strong> {{ error }} </p>
{% endif %}

<form method="POST">
<fieldset>{{_('Select parking lot') }}:
    <select id="lot_name" name="lot_name" res=get_list_of_lots()>
        {% for res in res_list %} 
            <option value="{{res}}">{{res}}</option>
         {% endfor %}
    </select>
    <button  type="submit" onclick="GetInfo();"><b>{{_('Show') }}</b></button>
<p id="demo">Click the button to get your coordinates:</p>
    <input type="button"   onclick="getLocation();"><b>{{_('Showinf') }}</b>

<script>
var x=document.getElementById("demo");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.watchPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }
function showPosition(position)
  {
  x.innerHTML="Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude + "<br>jklm" + position.coords.accuracy;    
  }
</script>
</fieldset>

</form>
            

<div id='result' class="result">
        {{ result }}
</div>

<script type="text/javascript" src="https://jquery-json.googlecode.com/files/jquery.json-2.4.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<!--
<script type="text/javascript">
GetInfo = function() {

        var formData = {
            "lot_name":$("#lot_name").val(),
            };

       $.ajax({
            url:'127.0.0.1:5000/en/can_stand',
            type:'POST',
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function (response)
            {
                var myDiv = $('#result'); // The place where you want to insert the template
                myDiv.html(response);
            },
            error: function ()
            {
            },

        });

        return false;
    };
</script>-->


{% endblock %}
