<!DOCTYPE html>
<html>
<head>
	<title>Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script  src="http://www.tutorialrepublic.com/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/menu_switcher.js')}}"></script>
</head>
<body onload='switch_menu()'>
<div class="container">
    <div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <ul class="nav nav-pills">
                        <li class="top_menu_item" id = 'welcome'><a href="/welcome">Home</a> </li>
                        <li class="top_menu_item" id='payment'><a href="/payment">Pay</a> </li>
                        <li class="top_menu_item" id='price'><a href="/price">Prices</a> </li>
                        <li class="top_menu_item" id='can_stand'><a href="/can_stand">Check place</a> </li>
                        <li class="top_menu_item" id='log'><a href="/log">Log in</a></li>
                    </ul>
                </div>
            </nav>
    </div>
    <div class="content">
        {% block content%}
        {% endblock %}
    </div>
</div>
</body>
</html>
