<!DOCTYPE html>
<html>
<head>
	<title>Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script  src="http://www.tutorialrepublic.com/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
<div class="container">
    <div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <ul class="nav nav-pills">
                      <li {{classactive_home}} ><a href="/">Home</a> </li>
                        <li {{classactive_welcome}}><a href="/welcome">Welcome</a> </li>
                        <li {{classactive_payment}}><a href="/payment">Pay for...</a> </li>
                        <li {{classactive_price}}><a href="/price">Price for...</a> </li>
                        <li {{classactive_canstand}}><a href="/can_stand">Check place</a> </li>
                        <li {{classactive_log}}><a href="/log">Log in</a></li>
                    </ul>
                </div>
            </nav>
    </div>
    <div class="content">
        {% block content%}
        {% endblock %}
    </div>
</div>
</body>
</html>
