{% extends "content_template.html" %}
{% block content %}
<h1>{{_('Get info') }}</h1>
{% if error %}
        <p class=error><Strong>{{_('Error') }}</Strong> {{ error }}
{% endif %}

<fieldset>{{_('Choose parking lot') }} 
    <select id="place_id" name="place" >
        {% for place in place_list %} 
            <option value="{{place}}" size="20">{{place}}</option>
        {% endfor %}
    </select>
</fieldset><br/>
    <input data-datepicker="datepicker" class="small" type="text" value="2014-04-07" name="date" id="data_id" />
    <i class="glyphicon glyphicon-calendar"></i>        
  

     <input type="submit"  onclick="HistoryInfo();" size="20" value={{ _('Show')}}>  
            


<div id='result' class='result'>
    {{ result }}
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
HistoryInfo = function() {

        var formData = {
            "place":$("#place_id").val(),
            "date": $('#data_id').val()
            };
        $.ajax({
            url:'/en/history',
            type:'POST',
            data: JSON.stringify(formData),
            contentType: "application/json",

            success: function (response)
            {
                var myDiv = $('#result'); // The place where you want to insert the template
                myDiv.html(response);
            },

            error: function (request)
            {
            alert('Error125');
            },

        });

        return false;
    };

</script>
{% endblock %}
