{% extends "start.html" %}
{% block content%}
        <h1>{{_('login') }}</h1>
        {% if error %}
        <p class=error><Strong>Error</Strong> {{ error }}
        {% endif %}

        <form action="" method=post>
         <dl>
             <dt>{{_('Login or username') }}:
             <dd><input type=text name="username" value="{{request.form.username}}">
             <dt>{{_('Password') }}:
             <dd><input type="password" name="password">
         </dl>
    <p><input type="submit" value="Login">
        </form>
    {% for message in get_flashed_messages() %}
        <div class=flash>
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
