{% extends "start.html" %}
{% block content %}
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/static/js/maps.js"></script>
  </head>
  <body>
    <div id="map-canvas" style="width:79%; height:100%; float:left"></div>
    <div id="content-window" style="width:19%; height:100%; float:left"></div>
{% endblock %}

