{% extends "start.html" %}
{% block content %}
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">

</script>
    <script src="/static/js/maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="/static/js/charts.js"></script>

    <div id="map-canvas" style="width:60%; height:100%; float:left"></div>
    <div id="content-window" style="width:40%; height:100%; float:left">
Here goes some statistics<br />
<div id="chart_div"></div>
</div>
{% endblock %}

