
{% block content%}
<h3> Payment result </h3>
{% if error %}
        <div class=error><Strong>Error</Strong> {{ error }}
{% endif %}

{% if credentials %}
<dl>
	<dt>
		<b>Імя користувача:</b>
		{{ credentials.username }}
	</dt>

	<dt>
		<b>Номер машини:</b>
		{{ credentials.car_number }}
	</dt>
		
	<dt>
		<b>Місце №:</b>
		{{ credentials.id_place }}
	</dt>
	
	<dt>
		<b>Стоїть до:</b>
		{{ credentials.leave_before }}
	</dt>

	<dt>
		<b>Сума:</b>
		{{ credentials.cost }}
	</dt>

	<dt>
		<b>Тариф:</b>
		{{ credentials.rate }}
	</dt>
	
</dl>

{% endif%}

{% endblock %}
