{% extends "header_template.html" %}
{% block content %}
         <h1>Pay for parking</h1>
        {% if error %}
        <p class=error><Strong>Error</Strong> {{ error }}
        {% endif %}

         <fieldset>
            <p>Username {{ idd }}:</p>
            <input type=text name="username" value="{{request.form.username}}">
            Select lot
            <select id="lot_id" onchange="place_request();" name="lot">
                {% for lot in lots %} 
                <option value="{{lot}}">{{lot}}</option>
                {% endfor %}
            </select>
            Select place
            <select id="place_id" name="place">
                {% for place in place_list %} 
                <option value="{{place}}">{{place}}</option>
                {% endfor %}
            </select>
            Car number:
            <input type="text" name="car_number" id="car_number" value="{{request.form.car_num}}" size="20" >
            Money:
            <input type="text" name="cost" id="cost" value="{{request.form.cost}}" size="20">
        </fieldset>
        
        <p><button  type="submit" onclick="GetInfo();" >Show info</button> </p>     


        <div id='result'>
        {{ result }}
        </div>

<script type="text/javascript" src="https://jquery-json.googlecode.com/files/jquery.json-2.4.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/functions.js')}}"></script>
    
    
{% endblock %} 