{% block content%}
    <div class="table">
        <div class="row titlerow">
            <div class="col col20">{{_('Car number:') }}</div><div class="col col30">{{_('Cost:') }}</div><div class="col col50">{{_('Parking till:') }}</div>
        </div>
        {% for record in history_info %}
        <div class="row">

    	    <div class="col col20">{{ record.car_number }}</div><div class="col col30">{{ record.cost }}</div><div class="col col50">{{ record.expiration_time.strftime("%H:%M  %d-%m-%Y") }}</div>

        </div>
        {% endfor %}

    </div>

{% endblock %}
