<!DOCTYPE>

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Central Parking</title>

 <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css')}}">
    <script  src="http://www.tutorialrepublic.com/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/menu_switcher.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js')}}"></script>
</head>
<body onload='switch_menu()'>

<div id="wrap">
    <div id="header">
        <div id="top_menu">
           <div class="contact_us"><p align="center">CentralParking<a href="#"></a></p></div>
        </div>
    </div>

    <div id="header">
        <div id="top_menu">
           <div class="contact_us" align="right" id='btn'>
           <input type="button" value="uk" id="id_ukr" onclick="language(this);">
           <input type="button" value="en" id="id_en" onclick="language(this);">

           <a href="#"><p>CentralPark</p></a>
           </div>
        </div>
    </div>

   	<nav class="navbar navbar-default" role="navigation" id="menu">
       <div>
           <div class="container">
        
            <ul class="nav nav-pills">
			    <li class="top_menu_item" id='welcome'><a href="/{{g.current_lang}}/welcome">{{_('Start') }}</a> </li>
                <li class="top_menu_item" id='payment'><a href="/{{g.current_lang}}/payment">{{_('Pay for parking') }}</a> </li>
                <li class="top_menu_item" id='history'><a href="/{{g.current_lang}}/history">{{_('Statistic') }}</a> </li>
                <li class="top_menu_item" id='can_stand' ><a href="/{{g.current_lang}}/can_stand">{{_('Filling parking') }}</a></li>
                <li class="top_menu_item" id='find_place'><a href="/{{g.current_lang}}/find">{{_('Find parking') }}</a> </li>
			    <li class="top_menu_item" id='log'><a href="/{{g.current_lang}}/log">{{_('Log in') }}</a></li>
<li class="top_menu_item" id='maps'><a href="/{{g.current_lang}}/maps">{{_('maps') }}</a></li>
                <div align='right' id='lang'>
                
                    <script type="text/javascript">
                        language = function(element) {
                               window.location.assign("/" + element.value + location.pathname.substring(3));
                        };
                    </script>
                </div>
			</ul>
            </div>
        </div>
    </nav>

    <div id="contentwrap">
        <div id="content">
            <div class="content">
                {% block content%}
            <div>Welcome to the city parking system
This service allows you to quickly find out where to park your car and immediately pay for parking!</div>

            {% endblock %}
            </div>
        </div>
        <div style="clear: both;"> </div>
    </div>

    <div id="footer"></div>

</div>
</body>
</html>
